/*
Safari has a rendering bug that sometimes prevented text from rendering on certain slides.
This is a hack that forces each new page to re-render.
*/
* {
  -webkit-transform: translate3d(0,0,0);
}

body {
  margin: 0;
  font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
h1 {
  font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

pre,
code {
  font-family: "SF Mono", "Roboto Mono", Menlo, Consolas, monospace;
  font-size: 0.875em;
  background-color: #e0e6ed !important;
  color: #a633d6;
  padding: 0 0.25em;
  margin: 0 0.25em;
  border-radius: 0.25em;
}

pre {
  margin: 1rem 0;
  border-radius: 1rem;
}
pre > code,
.npm__react-simple-code-editor__textarea + pre {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
